**/.git
**/.gitignore
**/bin
**/obj
**/node_modules
**/.vs
**/.vscode
**/.vs*
**/*.user
**/*.suo
**/appsettings.Development.json
*.log
*.db
*.sqlite
*.sqlite3
README.md
.editorconfig
.dockerignore
Dockerfile
.github
.gitattributes
